In [27]:
import pandas as pd
portfolio = pd.read_csv("Portfolio Data.csv", encoding = "latin-1")

In [28]:
# Calculate Open Seats
portfolio['Open Seats'] = portfolio['Desired Enrollment'] - portfolio['Students']

# Make Zip + Grade key 
portfolio['zipgrade'] = portfolio['Facility: Zip/Postal Code'].astype(str) + portfolio['Grade Level: Grade']

In [29]:
portfolio.head()

,Accountability Record: Site Code,Grade Level: Program Name,Grade Level: Grade,Students,Desired Enrollment,Facility: Facility Name,Facility: Portfolio Region,Facility: Cost Tier,Facility Capacity,Accountability Record: Site Name,Facility: Zip/Postal Code,Open Seats,zipgrade
0,WBC001,Alice M. Harte Charter School,8,68,80,Alice M. Harte,"Planning Districts 12, 13",1.0,958,Alice M Harte Elementary Charter School,70131,12,701318
1,WBC001,Alice M. Harte Charter School,6,79,92,Alice M. Harte,"Planning Districts 12, 13",1.0,958,Alice M Harte Elementary Charter School,70131,13,701316
2,WBC001,Alice M. Harte Charter School,K,68,88,Alice M. Harte,"Planning Districts 12, 13",1.0,958,Alice M Harte Elementary Charter School,70131,20,70131K
3,WBC001,Alice M. Harte Charter School,4,68,72,Alice M. Harte,"Planning Districts 12, 13",1.0,958,Alice M Harte Elementary Charter School,70131,4,701314
4,WBC001,Alice M. Harte Charter School,5,74,76,Alice M. Harte,"Planning Districts 12, 13",1.0,958,Alice M Harte Elementary Charter School,70131,2,701315

In [30]:
portfolio.groupby('Accountability Record: Site Name').sum('Students')

,Students,Desired Enrollment,Facility: Cost Tier,Facility Capacity,Facility: Zip/Postal Code,Open Seats
Accountability Record: Site Name,,,,,,
Abramson Sci Academy,625,662,4.0,3056,280508,37
Alice M Harte Elementary Charter School,623,707,9.0,8622,631179,84
Arthur Ashe Charter School,691,806,18.0,6498,631098,115
Audubon Charter Gentilly,350,453,32.0,2864,560976,103
Audubon Charter School,762,940,56.0,11460,1262094,178
...,...,...,...,...,...,...
The Willow School,1989,2094,39.0,11310,911510,105
Walter L. Cohen High School,330,384,4.0,3544,280460,54
Warren Easton Charter High School,1094,1150,8.0,4512,280476,56
Wilson Charter School,500,612,9.0,5895,631125,112
Young Audiences at Crocker Elementary,352,434,9.0,6498,631035,82

In [31]:
portfolio.groupby('Facility: Zip/Postal Code').sum('Students')

,Students,Desired Enrollment,Facility: Cost Tier,Facility Capacity,Open Seats
Facility: Zip/Postal Code,,,,,
70112,567,623,4.0,3344,56
70113,511,610,7.0,3354,99
70114,3651,4006,32.0,25237,355
70115,4274,4845,130.0,37315,571
70116,292,318,8.0,2352,26
70117,2749,3083,60.0,27594,334
70118,2428,2964,83.0,20211,536
70119,5165,5924,116.0,46184,759
70122,4848,5619,116.0,41044,771
70124,601,715,15.0,14115,114
70125,2147,2379,44.0,17972,232
70126,3964,4379,44.0,43180,415
70127,2062,2408,49.0,25169,346
70128,1619,1996,50.0,27000,377
70129,929,1057,52.0,12275,128
70130,1275,1547,79.0,18162,272
70131,2548,2896,58.0,26995,348

In [36]:
portfolio.groupby('zipgrade').sum('Students').sort_values('Facility: Zip/Postal Code')

,Students,Desired Enrollment,Facility: Cost Tier,Facility Capacity,Facility: Zip/Postal Code,Open Seats
zipgrade,,,,,,
7011210,156,165,1.0,836,70112,9
7011211,135,151,1.0,836,70112,16
7011212,110,126,1.0,836,70112,16
701129,166,181,1.0,836,70112,15
7011310,23,36,0.0,0,70113,13
...,...,...,...,...,...,...
70119K,417,524,15.0,5407,560952,107
701194,540,609,15.0,5407,560952,69
701191,464,511,15.0,5407,560952,47
701193,549,647,15.0,5407,560952,98
701192,503,585,15.0,5407,560952,82